/* .login{
    background-image: url('/assets/Designer.png');
    background-repeat: no-repeat;
    background-size:100vw;
    height:100vh;
    overflow:hidden;
} */

.cursor-pointer{
    cursor:pointer;
}