<div class="login d-flex justify-content-center my-5 text-center" *ngIf="!loading">
    <div class="w-25 m-3" *ngIf="!isFirstTimeLogin">
        <h1>Login</h1>
        <div [formGroup]="loginForm">
            <input type="text" class="form-control mb-2" placeholder="Email" formControlName="email">
            <input type="password" class="form-control mb-2" placeholder="Password" formControlName="password">
        </div>
        <button class="btn btn-primary ms-2 w-100" (click)="login()" [disabled]="!loginForm.valid">Login</button>
        <p class="text-primary text-decoration-underline cursor-pointer" (click)="toggleFirstTimeLogin()">First time
            Login?</p>
    </div>
    <div class="w-25 m-3" *ngIf="isFirstTimeLogin && !firstTimePassword">
        <h1>First Time Login</h1>
        <div [formGroup]="firstTimeLoginForm">
            <input type="text" class="form-control mb-2" placeholder="Email" formControlName="email">
        </div>
        <button class="btn btn-primary ms-2 w-100" (click)="firstTimeLogin()" [disabled]="!loginForm.valid">Login</button>
        <p class="text-primary text-decoration-underline cursor-pointer" (click)="toggleFirstTimeLogin()">Existing
            customer?</p>
    </div>
    <div class="w-25 m-3" *ngIf="isFirstTimeLogin && firstTimePassword">
        <h1>Create Password</h1>
        <div [formGroup]="firstTimePasswordForm">
            <input type="text" class="form-control mb-2" placeholder="Password" formControlName="password">
        </div>
        <button class="btn btn-primary ms-2 w-100" (click)="createPassword()" [disabled]="!loginForm.valid">Save
            Password</button>
    </div>
</div>
<div *ngIf="loading" class="loader-container bg-white d-flex flex-column justify-content-center align-items-center bg-opacity-50">
    <div class="page-loader">
    </div>
    <span class="mt-2 text-primary-emphasis">Loading...</span>
</div>