<div class="header bg-white d-flex justify-content-between px-3 align-items-center shadow">
    <h1><a class="text-primary-emphasis" routerLink="agent-details"><img src="/assets/website logo.png" alt=""></a></h1>
    <button class="btn btn-primary"><a class="px-2 py-1" routerLink="/login">Login</a></button>
</div>
<div class="main mx-3 d-flex align-items-center">
    <div class="w-50 border-end border-3 border-success d-flex justify-content-center">
        <img class="w-75" src="/assets/home-banner.jpg">
    </div>
    <div class="w-50">
        <h1 class="text-center">FinServ Platform</h1>
    </div>
</div>
