.header{
    position: fixed;
    top:0;
    width:100%;
    z-index:999;
}

h1 img{
    height:34px;
}

button{
    padding:0;
}

a{
    display:inline-block;
    text-decoration: none;
    color:white
}
.main{
    margin-top:100px;
}
