.btn-approve{
    background-color: rgb(0, 180, 72);
    color:white;
}

.btn-reject{
    background-color: rgb(180, 0, 0);
    color:white;
}

.btn-disburse{
    background-color: rgb(0, 174, 255);
    color:white;
}